@charset "utf-8";
*{margin: 0; padding: 0; outline: 0; border: 0;}

img{
    border: 0;
    vertical-align: middle;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cf:after{
    content: '';
    display: block;
    clear: both;
}

a{text-decoration: none;}


/* 헤더 네비게이션 */
#header{
    width: 100%;
    height: 190px;
    margin: 0 auto;
}
#header nav div{
    width: 100%;
    height: 50px;
    background-color: #458ACF;
    box-sizing: border-box;
}
#header nav .gnb ul{
    float: right;
    height: 50px;
    margin-right: 350px;
}
#header nav .gnb ul li{
    float: left;
    margin: 0 10px 0 20px;
}

#header nav .gnb ul li a{
    display: block;
    text-align: right;
    color: #ffffff;
    line-height: 50px;
}
#header nav div li a:hover{
    color: blue;
}

/* 헤더 메뉴 */
#header .menu{position: relative;}
#header .menu li{
    float: left;
} 
#header .menu li a{color: black;}
#header .menu h1{
    line-height: 30px;
}
#header .menu h1 span{
    width: 2px;
    height: 50px;
    background-color: #458ACF;
    display: inline-block;
    margin-bottom: 0;
    position: absolute;
    top: 0px;
}
#header .menu h1 img{
    margin-left: 10px;
}
#header .menu .sub{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    top: 50px;
}
#header .menu .sub .th1{
    width: 148px;
    height: 140px;
    text-align: center;

}
#header .menu .sub .th1 > a{
    font-size: 1.3em;
    font-weight: bold;
}
#header .menu .sub .th1 > a:hover{
    color: #458ACF;
}
#header .menu .sub .th1 .th2{
    width: 1200px;
    height: 50px;
    background-color: #136DC7;
    margin: 0px auto;
    position: absolute;
    left: 0;
    top:50px;
    display: none;
}
#header .menu .sub .th1 .th2 li{
    margin: 0 10px;
    float: left;
    height: 50px;
}
#header .menu .sub .th1 .th2 li a{
    color: #ffffff;
    margin-top: 12px;
    margin-left: 15px;
    display: block;
}
#header .menu .sub .th1 .th2 li a:hover{
    color: blue;
}
#header .menu .sub .th1:hover .th2{
    display: block;
    height: 50px;
}
#header .menu .sub li:nth-child(3) .th2 li a{
    margin-left: 40px;
}
#header .menu .sub li:nth-child(4) .th2 li a{
    margin-left: 36px;
}
#header .menu .sub li:nth-child(5) .th2 li a{
    margin-left: 46px;
}
#header .menu .sub li:nth-child(6) .th2 li a{
    margin-left: 25px;
}
#header .menu .sub li:nth-child(7) .th2 li a{
    margin-left: 30px;
}
/* 구정 정보 메뉴 */
#info{
    width: 1200px;
    height: 930px;
    margin: 0 auto;
}
#info div{
    float: left;
}
#info .location{
    width: 21%;
    height: 600px;
}
#info .location h2{
    font-size: 2em;
    height: 70px;
    text-align: center;
    border-bottom: 4px solid #136dc7;
}
#info .location h2 span{
    color: #136dc7;
}
#info .location ul{
    border: 1px solid gray;
    margin-top: 30px;
}
#info .location ul li{
    padding: 15px;
    cursor: pointer;
}
#info .location ul li{
    border-bottom: 1px solid gray;
    font-weight: bold;
} 
#info .location ul li:last-child{
    border-bottom: none;
}
#info .location ul li:nth-child(9){
    background-color: #136dc7;
    color: #ffffff;
}
#info .location ul li:hover{
    background-color: #136dc7;
    color: #ffffff;
}

/* 찾아오는 길 */
#info .content{
    width: 78%;
    height: 930px;
    margin-left: 1%;
}
#info .content h3{
    font-size: 1.7em;
    font-weight: 300;
    height: 70px;
    border-bottom: 1px solid gray;
}
#info .content ul{
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}
#info .content ul li{
    font-size: 1.0rem;
    margin-left: 10px;
    font-weight: normal;
    margin: 5px 0px;
}
#info .content ul .c_number{
    margin-left: 20px;
}

/* 푸터 */
#footer{
    width: 100%;
    height: 135px;
    margin: 0 auto;
}
#footer .top_box div{
    float: left;
}
#footer .top_box{
    width: 100%;
    height: 40px;
    background-color: #458acf;
    text-align: center;
}
#footer .top_box .family-site{
    margin: 0 auto;
    width: 1200px;
    height: 40px;
    float: none;
}
#footer div span{
    color: #ffffff;
    margin: 0 24px;
    line-height: 40px;
    display: block;
    float: left;
    text-align: center;
}
select {
    display: block;
    width: 200px; 
    padding: .8em .5em; 
    font-family: inherit;  
    background: url(../image/allow.png) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    color: #ffffff;
    background-color: #136dc7;
    float: left;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}
select::-ms-expand {
    display: none;
}
#footer .bottom_box{
    width: 1200px;
    margin: 0 auto;
}
#footer .bottom_box div{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

#footer .bottom_box address{
    font-style: normal;
}